

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


body{
margin: 0;
padding: 0;
}
.hero{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.hero-left{
    position: relative;
    width: 50%;
    background-image:url(images/RedandWhiteComingSoon.png) ;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
.hero-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
.right_wrap{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    font-size: 24px;
    font-family: "Luckiest Guy", cursive;
    display: flex;
    flex-direction: column;
    justify-content: right;
    color: whitesmoke;
}
.content h1 span{
    color:#df2f2f;
}
.content h2{
    font-size: 20px;
}
.countdown{
    display: flex;
}
.time{
    flex-basis: 160px;
    margin-bottom: 80px;
}
.time p{
    font-size: 40px;
    color: #df2f2f;
}
.animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

@media (max-width: 1200px) {
    .right_wrap {
        width: 80%;
    }

    .content {
        font-size: 20px;
    }

    .countdown .time p {
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    .right_wrap {
        width: 80%;
    }

    .content {
        font-size: 18px;
    }

    .countdown .time p {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .right_wrap {
        width: 90%;
    }

    .content {
        font-size: 16px;
        text-align: center;
    }

    .countdown {
        flex-direction: column;
        align-items: center;
    }

    .countdown .time {
        margin-bottom: 10px;
    }

    .countdown .time p {
        font-size: 30px;
    }
}