

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


body{
margin: 0;
padding: 0;
}
.hero{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image:url(images/RedandWhiteComingSoon.png) ;
    background-position:left;
    background-size:contain;
    background-repeat: no-repeat;
}
.form{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}
.content{
    font-size: 28px;
    font-weight: 600;
    font-family: "Luckiest Guy", cursive;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.content h1 span{
    color: #df2f2f;
}
.content button{
    background-color: #df2f2f;
    border: 3px solid #000000;
    border-radius: 12px;
    padding: 10px 20px;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
}
